.details{
    /* display: flex;
    justify-content: center; */
    display: grid;
    grid-template-columns:1fr 2fr ;
    grid-gap: 20px;
    padding: 0.5rem 1rem;
    height: 80vh;

}

.head img{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100% ;
    object-fit: cover;
}
.title{
    display: flex;
    justify-content: center;
    /* align-content: center; */
}

.scores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgb( 255, 107, 107);
    border-bottom: 1px solid rgb( 255, 107, 107);
    font-size: 1em;
}
.star{
    color: rgb(233, 233, 58);
}

.healthStar{
    color: rgb(226, 43, 43);
}
.summary{
    font-weight: lighter;
}
.iconSummary,
.iconSteps{
    color: rgb(3, 6, 190);
}
