.pageNumbers{
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}
.pageNumbers li {
    padding: 10px;
    color:rgb( 255, 107, 107);
    
    cursor: pointer;
    letter-spacing: 0.1em;
    margin: 0 2px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}
.pageNumbers li.active{
    background-color: rgb( 255, 107, 107);
    color: white;
    box-shadow: none;
}
.pageNumbers li button{
    background-color: transparent;
    border: 2px solid rgb( 255, 107, 107);
    color: rgb( 255, 107, 107);
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 10px;
    transition: background 0.3s ease;
    margin: 0 2px;
    opacity: none;
}
.pageNumbers li button:hover{
    background-color: rgb( 255, 107, 107);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px); 
}
.pageNumbers li button:focus{
    outline: none;
}